<div class="row">
  <div class="col-sm-4">
    <div id="table-wrapper">
      <div id="show-scroll">
        <table class="pure-table pure-table-horizontal">
          <thead>
            <caption>League table</caption>
            <tr>
              <th> Team Name </th>
              <th> MP </th>
              <th> W </th>
              <th> D </th>
              <th> L </th>
              <th> Pts </th>
            </tr>
          </thead>
          <tbody>
            <% @league.team.order("Pts DESC").each do |team| %>
              <tr>
                <% if current_user == @league.user %>
                  <td><%= link_to team.name, team %></td>
                <% else %>
                  <td><%= team.name %></td>
                <% end %>
                <td><%= team.MP %></td>
                <td><%= team.W %></td>
                <td><%= team.D %></td>
                <td><%= team.L %></td>
                <td><%= team.Pts %></td>
              </tr>
            <% end %>
            <% (1..@league.nums).each do |i| %>
              <tr>
                <td> <%= link_to 'Add Team', new_team_path(league_id: @league) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div id="table-wrapper">
      <div id="show-scroll">
        <table class="pure-table pure-table-horizontal">
          <thead>
            <caption>Fixtures</caption>
            <tr>
              <th> Home Team </th>
              <th> Score </th>
              <th> Away Team </th>
            </tr>
          </thead>
          <tbody>
            <% @league.fixture.order("created_at DESC").each do |fixture| %>
              <tr>
                <td><%= fixture.home.name %></td>
                <td><%= fixture.homegoals %> - <%= fixture.awaygoals %></td>
                <td><%=fixture.away.name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>