<p id="notice"><%= notice %></p>
<%= link_to 'Back', leagues_path %> |
<% if current_user == @league.user %>
<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Add result', new_fixture_path(league_id: @league) %>
<% end %>


<table>
  <thead>
    <tr>
      <th> Team Name </th>
      <th> MP </th>
      <th> W </th>
      <th> D </th>
      <th> L </th>
      <th> Pts </th>
    </tr>
  </thead>
  <tbody>
    <% @league.team.order("Pts DESC").each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.MP %></td>
        <td><%= team.W %></td>
        <td><%= team.D %></td>
        <td><%= team.L %></td>
        <td><%= team.Pts %></td>
      </tr>
    <% end %>
    <% (1..@league.nums).each do |i| %>
      <tr>
        <td> <%= link_to 'Add Team', new_team_path(league_id: @league) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% @league.fixture.order("created_at DESC").each do |fixture| %>
<p> <%= fixture.home.name %> <%= fixture.homegoals %> - <%= fixture.awaygoals %> <%=fixture.away.name %> </p>

<% end %>